[Unit]
Description=OpenSSH Daemon for Cloudrun
After=network.target

[Service]
ExecStart=/usr/bin/sshd -D -f /etc/ssh/cloudrun_sshd_config
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
